.aboutBio {
    background-color: #000;
    border-color: #858481 !important;
    color: #4AF626 !important;
}

.Amarquee {
    color: #4AF626 !important;
}


body {
    background: black !important;
}